ion-content{
  background-color: rgb(253, 250, 217);
}
.location{
  width:100%;
  // background-color: #0099ff;
  display: grid;
  grid-template-columns: 50% 50%;
}
.location ion-label{
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right:20px;
  // background-color: red;
}
.scanner-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    height: 100%;
    width:100%;
    padding-bottom: 0;
    // padding-top:40px;
    background-color: antiquewhite;
  }
  
  .scanner-frame {
    position: relative;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1;
    border: 2px solid #000;
    margin-bottom: 16px;
  }
  
  video {
    width: 100%;
    height: 100%;
  }
  
  .scan-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(51, 255, 0);
    animation: scan-line-animation 2s infinite;
  }
  
  @keyframes scan-line-animation {
    0% { top: 0; }
    50% { top: 50%; }
    100% { top: 100%; }
  }
  .paying-passenger {
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0;
  

    padding: 0;
    place-content: end; 
    color:white;
    padding-bottom: 60px;
}

     .fixed-container{
      width: 100%;
      height:100%;
      background-color:  #0099ff;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      padding-top:10px;
      color:white;
      h1{
        text-align: center;
      }
    }
      .scroll {
        max-height: 150px; 
        overflow-y: auto; 
        padding: 10px;
      }
    .paying-passenger .fixed-container .scroll ion-item{
      --background: #fa898900;
    }
.topic{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
 
.topic ion-icon{
  font-size: 30px;
  color:green;
}
.topic ion-icon:hover{
  color:greenyellow;
  font-size:40px;
}
ion-item{
  color:white;
}
.button-container{
  width:100%;
  padding:0 20px;
  display: flex;
  justify-content: center;
  gap:30px;
}
.button-container ion-button{
  --background:#0099ff;
}
@media(min-height:700px){

  .scroll {
    max-height: 250px; 
  }

}
@media(min-height:900px){

  .scanner-frame {
    max-width: 350px;
  }
  .scroll {
    max-height: 350px; 
  }
}