<ion-content [fullscreen]="true">
<div class="full-page">
<div class="container">
<ion-button class="back" fill="clear">
<ion-icon name="chevron-back"></ion-icon>Login
</ion-button>
<h1>Transport Register Page</h1>
<ion-label position="floating">Owner Name</ion-label>
<ion-input type="name" [(ngModel)]="vehicle.ownerName"></ion-input>
<ion-label  position="floating">Email</ion-label>
<ion-input type="email" [(ngModel)]="vehicle.email"></ion-input>
<ion-label position="floating">Transport Type</ion-label>
<ion-select interface="popover" [(ngModel)]="vehicle.transportType">
<ion-select-option value="bus">Bus</ion-select-option>
<ion-select-option value="taxi">Taxi</ion-select-option>
<ion-select-option value="train">Train</ion-select-option>
</ion-select>
<ion-label position="floating">Transport Number</ion-label>
<ion-input type="name" placeholder="use as username to login" [(ngModel)]="vehicle.transportNumber"></ion-input>
<ion-label position="floating">Password</ion-label>
<ion-input type="password" [(ngModel)]="vehicle.password"></ion-input>
<div class="button-container">
<ion-button expand="block" (click)="clear()">Clear</ion-button>
<ion-button expand="block" (click)="signUp()">Sign Up</ion-button>
</div>
  </div>
</div>
</ion-content>
