.full-page {
    background-image: url('/assets/quantum.png');
    background-size: cover; 
    background-position: center; 
    height: 100%; 
    width: 100%; 
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: -1; 
}
.custom-select {
    --padding-start: 10px;
    --padding-end: 10px;
    --min-width: 200px;
    --max-width: 100%;
  }
  
.container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 162, 255, 0.5);
    position: fixed;
    z-index:-1;
    padding:0 30px;
}
ion-select,ion-input{
background-color: white;
border-radius: 5px;
margin-bottom: 15px;
}
.back{
    font-size: 20px;
    margin-left: -30px;
    color:white;
}
.back:hover{
    color:green;
}
ion-label{
    font-size: 20px;
    color:white;
}
.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
.button-container ion-button:first-child{
    --background: rgb(255, 23, 23);
}
.button-container ion-button:nth-child(2){
    --background: green;
}
.button-container ion-button:first-child:hover{
    --background: rgb(255, 93, 93);
}
.button-container ion-button:nth-child(2):hover{
    --background: rgb(70, 141, 70);
}
h1{
    font-weight: bold;
    color:white;
}