
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-container">
     
<ion-label class="title-header">
  Forgot Password
</ion-label>
<p class="paragraph">Please enter email address linked with your Account</p>


<div class="sign-up">
  <div class="grid-container">
    
   
    <div class="grid-item">
      <ion-label position="stacked">Enter OTP</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit1" ></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit2"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit3"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit4"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit5"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-input type="number" maxlength="1" [(ngModel)]="otpDigit6"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
   </div>

    


    <div class="grid-item">
      <ion-button expand="block" color="success" class="log-buttons" href="/create">Submit</ion-button>
    </div>
  </div>
</div>
        </div>
  </div>
</ion-content>


