<ion-content>
    <div class="container">
      <div class="main-container">
        <ion-row>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-row>
       
        <h3 style="text-align: center;font-weight:bold;">Recharged Successfully</h3>
        
        <!-- <div class="table-container"> -->
         <table><tr>
           <td>Amount</td>
           <td>R500.00</td>
       </tr>
         <tr>
           <td>Name</td>
           <td>Ms A Madlala</td>
         </tr>
         <tr>
           <td>Card Number</td>
           <td>2334 5667 8890</td>
         </tr>
         <tr>
           <td>CVV</td>
           <td>504</td>
         </tr>
         <tr>
           <td>Expiration Date</td>
           <td>03/26</td>
         </tr>
       </table>
      <ion-button expand="block" color="clear" >dismiss</ion-button>
      </div>
    </div>
</ion-content>
