
ion-tab-bar{
    --background:linear-gradient(to top, skyblue,white);
 }
 ion-tab-button.active {
     --background: linear-gradient(to top, blue, white);
   }
   
   ion-tab-button.active {
       border-radius:50%;
   }
  
 
  
   
   