
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-container">
     
<ion-label class="title-header">
  Transport System
</ion-label>

<ion-row>
  <ion-col><h4>Log In</h4></ion-col>
  <ion-col>
    <h4 style="text-align: right;"><a id="popover-button" style="color:white;">Sign Up</a></h4>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false" [routerLink]="['/signup']">Passenger</ion-item>
        <ion-item [button]="true" [detail]="false" [routerLink]="['/sign-vehicle']">Vehicle Owner</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
</ion-col>
</ion-row>

<div class="input-container log-in">
  <div class="grid-container">

    <div class="grid-item">
      <ion-label>Username</ion-label> 
      <ion-input type="text" style="margin-top: 5px;" [(ngModel)]="email"></ion-input>
    </div>

    <div class="grid-item">
      <ion-label>Password</ion-label>
      <ion-input type="password" style="margin-top: 5px;" [(ngModel)]="password"></ion-input>
    </div>

    <div class="grid-item">

      <ion-radio-group value="custom-checked">
        <ion-radio value="custom" labelPlacement="end" aria-label="Custom checkbox that is checked" color="warning"><span style="color:aliceblue;">Remember Me</span></ion-radio>
      </ion-radio-group>

      <ion-button expand="block" color="success" class="log-buttons" (click)="login()">Login</ion-button>
    </div>
    <div class="grid-item">
        <ion-button expand="block" color="danger" class="log-buttons clear" (click)="clear()">Clear</ion-button>
    </div>
  </div>

  <div class="forgot-password">
    <a href="/forgot-password"><small>Forgot Password?</small></a>
  </div>
</div>
        </div>
  </div>

</ion-content>

