<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <div class="main-content">
  <div class="trip-header">
    

  </div>
  <div class="center-content">

  </div>


  </div>
   
</ion-content> -->
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item >
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle auto-hide="false">
        <ion-item >
          <ion-icon slot="start" name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <!-- Add more menu items as needed -->
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Page Title</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Your page content goes here -->
</ion-content>

