
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-container">
     
<ion-label class="title-header">
  Create New Password
</ion-label>
<p class="paragraph">Your new password  must be unique from those previously used.</p>


<div class="sign-up">
  <div class="grid-container">
    
    <div class="grid-item">
      <ion-label>Password</ion-label>
      <ion-input type="password" style="margin-top: 5px;"></ion-input>
    </div>

    <div class="grid-item">
      <ion-label>Confirm Password</ion-label>
      <ion-input type="password" style="margin-top: 5px;"></ion-input>
    </div>

    <div class="grid-item">
      <ion-button expand="block" color="success" class="log-buttons">Submit</ion-button>
    </div>
  </div>
</div>
        </div>
  </div>
</ion-content>



