<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<ion-content fullscreen>
<div class="main-container">
  <div class="grid-container">
    <div>
        <h1>Hello, Fezeka</h1>
       </div>
        <div class="img-container">
        <img  src="/assets/azande.png" alt="profile-picture" />
      </div>
  </div>
  <div class="pl-5">
    <h5>Welcome to your dashboard!</h5>
  </div>
<ion-card class="points-card">
  <ion-row>
    <ion-col size="4">Balance</ion-col>
    <ion-col  size="4">Rewards</ion-col>
    <ion-col size="4">Total Trips</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">$45.66</ion-col>
    <ion-col  size="4">$6.50</ion-col>
    <ion-col size="4">89</ion-col>
  </ion-row>
</ion-card>

<div class="child-container">

</div>

</div>

  
</ion-content>
