*{
    padding:0;
    margin: 0;
}
.content {
    padding:30px;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    gap: 25px; 
    margin-bottom: 200px;
  }
  .content ion-card {
    // position: absolute;
    width:auto;
    height: auto;
    background-color: #0087FF;
    display: grid;
    grid-template-rows: 4fr 1fr;
    border-radius: 20px;
    padding-top: 15px;
  }
  .content ion-card:hover{
    background-color: #0070d3;
  }
  .content ion-card div:first-child{
    display:flex;
    justify-content: center;
    align-items: center;

    img{
        width:90px;
    }
  }
  .content ion-card div:nth-child(2){
    font-size:18px;
    padding-top:3px;

  }
.container{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: antiquewhite;
}
.header{
    width:100%;
    height: 34%;
    background-color: #0087FF;
}
.title{
    padding: 10px;
    padding-top: 20px;
    width:100%;
    height:70px;
}
.title ion-icon{
    font-size: 40px;
    color: white;
}
.menu{
    text-align: end;
}
.trainsport-icon{
    height:130px;
    
}
.top-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
h1{
    font-size: 30px;
    font-weight: bolder;
    color:white;
    text-align: end;
}
.vehicle-name{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    padding:20px;
}
ion-icon:hover {
    cursor: pointer!important;
    color: #a407ff!important;
    }

@media(max-width:400px){

    .content ion-card {
        width:auto;
        height: 150px;

    }
}