<ion-content [fullscreen]="true">
  <div class="container">

  <div class="header">
    <ion-row class="title">
      <ion-col><ion-icon name="chevron-back-outline"  [routerLink]="['/tabs/home']"></ion-icon></ion-col>
      <ion-col><h1 style="text-align: center;">History</h1></ion-col>
      <ion-col  class="menu"> <ion-icon name="menu-outline"></ion-icon></ion-col>
    </ion-row>
<div style="height:70%" class="top-container">

  <div class="vehicle-img">
    <img class="trainsport-icon" src="/assets/taxiss.png" alt="profile-picture" />

  </div>
  <div  class="vehicle-name">
    
<h1>Taxis</h1>


  </div>
  </div>
  </div>
  <div class="main-container">
  <div *ngFor="let dateGroup of groupedTransactions | keyvalue">
    <!-- <div class="main-container"> -->
      <h4 class="date-tag">{{ dateGroup.key }}</h4>
      <table>
        <tbody>
          <tr *ngFor="let transaction of dateGroup.value">
            <td>{{ transaction.From_To }}</td>
            <td>{{ transaction.datetime }}</td>
            <td>
              <ion-button (click)="presentPopover($event,transaction.VehicleId)">
              <!-- {{transaction.vehicleId}} -->
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 
  </div>
<!-- </div> -->
</ion-content>
