
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="main-container">
     
<ion-label class="title-header">
  Transport System
</ion-label>

<ion-row>
  <ion-col><h4><a href="/login" style="color:white;">Log In</a></h4></ion-col>
  <ion-col><h4 style="text-align: right;"><a href="/login" style="color:white;">Sign Up</a></h4></ion-col>
</ion-row>
<div class="sign-up">
  <div class="grid-container">
    <div class="grid-item">
      <ion-label>Full Name</ion-label> 
      <ion-input type="text" [(ngModel)]="passenger.passengerNames" style="margin-top: 5px;"></ion-input>
    </div>
   
    <div class="grid-item">
      <ion-label>Email Address</ion-label> 
      <ion-input type="text" [(ngModel)]="passenger.passengerEmail" style="margin-top: 5px;"></ion-input>
    </div>

    <div class="grid-item">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="passenger.passengerPassword" style="margin-top: 5px;"></ion-input>
    </div>

    <div class="grid-item">
      <ion-label>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" style="margin-top: 5px;"></ion-input>
    </div>

    <div class="grid-item">
      <ion-button expand="block" color="success" class="log-buttons" (click)="signup()">Sign-up</ion-button>
    </div>
    <div class="grid-item">
      <ion-button expand="block" color="danger" class="log-buttons" (click)="clearFields()">Clear</ion-button>
    </div>
  </div>
</div>
    </div>
  </div>
</ion-content>

