*{
    padding:0;
    margin:0;
}
.content {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(45, 101, 255);
    // text-align: center;
    
}
.detailed-container
{
    top:0;
    width: 100%;
    height:85%;

    background-color: antiquewhite;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:  18px 18px 24px #4e4e5c,
                -18px -18px 24px #48474e;

    // text-align: left;
}
.send-icon{
    font-size:50px;
    padding-top:5px;
   
}
a{   
    width:100% ;
    text-align: center;
    // color:white;
 
}
ion-row h3{
    width:100%;
    text-align: center!important;
    color:white;
}
ion-row a:hover{
    color:white;
}
.title{
    padding: 10px;
    padding-top: 20px;
    width:100%;
    height:70px;
}
.title ion-icon{
    font-size: 40px;
    color: rgb(81, 139, 245);
    
}
.menu{
    text-align: end;

}
.amount{
    font-size: 30px;
    font-weight:bolder;
    // color:white;
}
// tr td {
//     width: 100%;
//     border: 2px solid black;;
// }
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
}
td {
    // border: 1px solid #ddd;
    padding: 8px;
    width: 50%; /* Set the width to 50% for equal distribution */
}
td:last-child {
    text-align: right; /* Align content in the last td to the right */
    color:rgb(46, 129, 255);
}
.table-container{
    width: 100%;
    font-weight: bold;
    padding:10%;
}
ion-button{
    color:rgb(46, 129, 255);
    font-size: 22px;
    margin-top:15px;
    border: 0;
    
}
.amount-container{
    width: 100%;
    text-align:center;
    padding-top: 10%;
    padding-bottom: 20%;
}

@media(min-width:700px){

    .amount-container{
        width: 100%;
        text-align:center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .table-container{
        width: 100%;
        font-weight: bold;
        padding:10%;
        padding-top:3%;
    }
}