<ion-content>
  <diV class="content">
      <div class="detailed-container">
        <ion-row class="title">
          <ion-col size="2"><a href="/tabs/home"><ion-icon name="chevron-back-outline"></ion-icon></a></ion-col>
          <ion-col size="8"><h1 style="text-align: center;color:rgb(81, 139, 245)">Payment Details</h1></ion-col>
          <ion-col  size="2" class="menu"> <ion-icon name="close-outline"></ion-icon></ion-col>
        </ion-row>
<div class="amount-container">
<ion-label class="amount">R500.00</ion-label>
</div>
       <h3 style="text-align: center;">Transport Card recharge</h3>
       <div class="table-container">
        <table><tr>
          <td>Amount</td>
          <td>R500.00</td>
      </tr>
        <tr>
          <td>Name</td>
          <td>Ms A Madlala</td>
        </tr>
        <tr>
          <td>Card Number</td>
          <td>2334 5667 8890</td>
        </tr>
        <tr>
          <td>CVV</td>
          <td>504</td>
        </tr>
        <tr>
          <td>Expiration Date</td>
          <td>03/26</td>
        </tr>
      </table>
    <ion-button color=clear expand="full">EDIT</ion-button>
</div>

























      </div>
      <ion-row>
        <a><ion-icon name="chevron-up-outline"  class="send-icon"></ion-icon></a>
       
      </ion-row>
      <ion-row>
       <h3>Sending Payment...</h3>
      </ion-row>
      

  </diV>
</ion-content>