<ion-header class="ion-no-border">
  <ion-toolbar class="cont">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title><img src="assets/bus_logo..png" alt="App Logo" class="app-logo"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    

    <div class="main-container">



<ion-label class="title-header">
  Forgot Password
</ion-label>
<p class="paragraph">Please enter email address linked with your Account</p>


<div class="sign-up">
  <div class="grid-container">
    
   
    <div class="grid-item">
      <ion-label>Email Address</ion-label> 
      <ion-input type="text" style="margin-top: 5px;"  [(ngModel)]="username"></ion-input>
    </div>

    <div class="grid-item">
      <ion-button expand="block" color="success" class="log-buttons" (click)="forgotPassword()">Submit</ion-button>
    </div>
  </div>
</div>
        </div>
  </div>
</ion-content>


