.container {
    background-image: url('/assets/dasktop.jfif')!important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%!important;
    position:fixed;
    width: 100%;
    height: 100%;
}
.app-logo {
    height: 32px;
    margin-right: 12px;
  }
.cont{
    display: flex;
    justify-content: center;
    box-shadow: 3px gray;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  ion-title, ion-back-button {
    color: #ffffff; 
  }
.paragraph{
    color:#fff;
}
.main-container {
    height: 100% !important;
    width:100%!important;
    position:fixed;
    top:0;
    padding: 30px;
    padding-top:40%;
    background-color: rgba(16, 136, 234, 0.589);
    z-index:1;
}
.title-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    font-weight:bolder;
    color:#fff;
}
h4{
    font-size: 22px;
    color:white;
}
ion-row{
    padding-top:10px;
} 
  .grid-item {
    padding-top: 15px;
  }
.grid-item ion-label {
    margin-bottom: 100px !important;
    font-size: 22px;
    color:#fff;
}
ion-input{
    font-size: 22px;
    color:#fff;
    border: 2px solid  #fff ;
    border-radius: 10px;
}
small{
    font-size: larger;
    color:#00ff40;
}
@media(max-width:500px) {
    .container {
        background-image: url('/assets/mobile.jpg')!important;
    }
}
@media(min-width:701px){
    h4{
        font-size: 36px;
    }
    .paragraph{
        font-size:larger;
    }
    .title-header{
        font-size: 40px;
    }
    .input-container {
        display: grid;
      }
      .grid-container {
        display: contents;
      }
      .clear{
        margin-top:27px;
      }
}
@media(min-width:1000px) and (max-height:801px){
    .main-container {
        padding-top:10%;
    }
}
